<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    
    <!-- para testes com docker container -->
    <add key="url_servidor_comunicacoes" value="http://localhost:6000/api/v1"/>
    
    <!-- para testes com debug microsoft visual studio 
    <add key="url_servidor_comunicacoes" value="https://localhost:44338/api/v1"/>-->
    
    </appSettings>  
</configuration>
