@{
    ViewData["Title"] = "Welcome";
}

<div class="row">
    <div class="col-md-3">
        <h2>Design</h2>
        <ul>
            <li>Full architecture with responsibility separation concerns, SOLID and Clean Code</li>
            <li>DDD Concepts - Layers and Domain Model Pattern</li>
            <li>CQRS - Command Query Responsibility Segregation</li>
            <li>Event Sourcing</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Technologies</h2>
        <ul>
            <li>.NET Core 2.2</li>
            <li>ASP.NET MVC Core 2.2</li>
            <li>ASP.NET WebAPI Core 2.2</li>
            <li>ASP.NET Identity Core 2.2</li>
            <li>EF Core 2.2</li>
            <li>AutoMapper</li>
            <li>FluentValidator</li>
            <li>MediatR</li>
            <li>Swagger UI</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Karnak</h2>
        <ul>
            <li>Domain Model Pattern, CQRS and ES concepts</li>
            <li>ASP.NET Identity working throught WebAPI services</li>
            <li>Different ways to read and write data.</li>
            <li>Unit Tests</li>
        </ul>
    </div>
</div>
